.tareaContenedor {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 210px;
  background-color: #1A9C8A;
  margin-top: 20px;
  border-radius: 10px;
}
.tareaTitleContainer {
  width: auto;
  height: 120px;
  background-color: rgb(4, 96, 99);
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.tareaTitle {
  margin: 27px 0 0;
  font-size: 1.4em;
  font-weight: bold;
}
.tareaPrioridad {
  margin: 10px 0;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tareaBoton {
  cursor: pointer;
  margin-top: 0;
}



